<h1>Edit training</h1>

<ul>
  <li><%= @training.name %></li>
  <li><%= @training.start_at %></li>
  <li><%= @training.duration_in_minutes %> minutes</li>
</ul>

<%= link_to "Save session", team_path %>

<%= render "exercises/exercises_list" %>


<div class="container">
  <ul>
    <% @training.training_exercises.each do |training_exercise| %>
      <li>
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_edit_training_exercise-<%= training_exercise.id %>">
                  Edit
                </button>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Delete</a>
              </li>
            </ul>
          </div>
          <div class="modal fade" id="modal_edit_training_exercise-<%= training_exercise.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Add session</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [ @training, training_exercise ] do |f| %>
                    <%= f.hidden_field :exercise, as: :hidden, :value => training_exercise.exercise.id %>
                    <%#= f.input :exercise, selected: f.exercise.category %>
                    <%= f.input :start_at %>
                    <%= f.input :duration_in_minutes %>
                    <%= f.submit "Edit", class: "btn btn-primary" %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-9">
                <h5 class="card-title"><%= training_exercise.exercise.name %></h5>
              </div>
              <div class="col-sm-3">
                <p class="card-text">Duration :  <%= training_exercise.duration_in_minutes %>min</p>
              </div>
            </div>
            <a href="#" class="btn btn-primary">Show</a>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
