<div class="d-flex flex-wrap p-3 mt-5 mb-5 justify-content-center align-items-center vw-100" style="height: 35vh;">
  <div class="p-3 h-100" style="width: 30%;">
    <h5 class="training-name text-left"><%= @training.name %></h5>

    <h5 class="text-left text-white"><%= @training.start_at.strftime("Entrainement du %m/%d/%Y") %></h5>
    <h5 class="text-left text-white"><%= @training.start_at.strftime("Début de séance à %I:%M%p") %></h5>
    <h5 class="text-left text-white"> Durée :<%= @training.duration_in_minutes %> minutes</h5>
    <h1 class="mt-0"> <%= @number_of_exercises %> </h1>
    <div class="search"> <%= link_to "Save session", team_path(@training.team), class:"save-session-button" %> </div>
  </div>
  <div class="p-3 h-100" style="width: 30%;">
    <!-- <div class="progress-bar-container"> -->
      <section>
        <article class="pb-5">
          <input type="radio" name="switch-pos" id="pos-0">
          <input type="radio" name="switch-pos" id="pos-1">
          <input type="radio" name="switch-pos" id="pos-2" checked>
          <input type="radio" name="switch-pos" id="pos-3">
          <div class="chart mb-5">
            <div class="bar bar-30 green">
              <div class="face top">
                <div class="growing-bar" style="width: <%= @training.total_perc %>%;"></div>
              </div>
              <div class="face side-0">
                <div class="growing-bar" style="width: <%= @training.total_perc %>%;"></div>
              </div>
              <div class="face floor">
                <div class="growing-bar" style="width: <%= @training.total_perc %>%;"></div>
              </div>
              <div class="face side-a"></div>
              <div class="face side-b"></div>
              <div class="face side-1">
                <div class="growing-bar" style="width: <%= @training.total_perc %>%;"></div>
              </div>
            </div>
          </div>
        </article>
      </section>
    <!-- </div> -->
  </div>
  <div class="p-3 h-100" style="width: 30%;">
    <div class="cards d-flex flex-column justify-content-start align-items-end">
      <% @training.training_exercises.order(:created_at).each do |training_exercise| %>
      <div class="card-training-exercise mb-2 w-75">
        <h3> <%= training_exercise.exercise.name  %> </h3>
        <div class="d-flex justify-content-between">
          <p class="m-0 p-0"> <%= training_exercise.duration_in_minutes %> minutes </p>
          <div class="d-flex align-items-center justify-content-center">
            <button type="edit-button" class="edit-button" data-toggle="modal" data-target="#modal_edit_training_exercise-<%= training_exercise.id %>">
              <img src="https://res.cloudinary.com/dbuix43pi/image/upload/v1582669867/Hello%20Arsene/icones/pencil_pxohaq.png" alt="" class="edit-image">
            </button>

            <%= link_to training_training_exercise_path(@training, training_exercise), { :class=>"delete-button" } do %>
              <%= image_tag "https://res.cloudinary.com/dbuix43pi/image/upload/v1582669502/Hello%20Arsene/icones/cancel_tilr3q.png" %>
            <% end %>

          </div>
        </div>
      </div>
      <div class="">
        <div class="row align-items-center ">
          <div class="modal fade modal_edit_training_exercise" id="modal_edit_training_exercise-<%= training_exercise.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Add session</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [ @training, training_exercise ] do |f| %>
                    <%= f.hidden_field :exercise, as: :hidden, :value => training_exercise.id %>
                    <%#= f.input :exercise, selected: f.exercise.category %>
                    <%= f.input :duration_in_minutes, as: "range", label: "Durée en minutes: 60", required: false, input_html: { min: '0', step: '5', max: '240', id: "input_training_exercise_duration_in_minutes-#{training_exercise.id}", class: "input_training_exercise_duration_in_minutes"}, label_html: {id: "label_training_exercise_duration_in_minutes-#{training_exercise.id}"} %>
                    <%= f.submit "Edit", class: "btn btn-primary" %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!--         <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_edit_training_exercise-<%#= training_exercise.id %>">
                  Edit
                </button>
              </li>
              <li class="nav-item">
                 <%#= link_to "Delete", training_training_exercise_path(@training, training_exercise),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
              </li>
            </ul>
          </div> -->
</div>
<%= render "exercises/exercises_list" %>

<script>

  if((document.querySelectorAll(".modal_edit_training_exercise").length > 0)) {
    var editModals = document.querySelectorAll(".modal_edit_training_exercise");

    editModals.forEach((modal) => {
      var exId = modal.id.split("-")[1];
      console.log(exId);
      var exSlider = document.querySelector(`#input_training_exercise_duration_in_minutes-${exId}`);
      var exTime = document.querySelector(`#input_training_exercise_duration_in_minutes-${exId}`).value;
      console.log(exTime);
      var exLabel = document.querySelector(`#label_training_exercise_duration_in_minutes-${exId}`);
      console.log(exLabel);
      exLabel.innerHTML = `Durée en minutes : ${exTime}`; // Display the default slider value

      // Update the current slider value (each time you drag the slider handle)
      exSlider.oninput = function() {
        exLabel.innerHTML = `Durée en minutes : ${this.value}`;
        console.log(this.value)
      }
    })
  }


</script>
