<h1>Edit training</h1>

<ul>
  <li><%= @training.name %></li>
  <li><%= @training.start_at %></li>
  <li><%= @training.duration_in_minutes %> minutes</li>
</ul>

<%= link_to "Save session", team_path %>

<%= render "exercises/exercises_list" %>

<%# @training_exercise: @training_exercise  %>
