<h1>Edit training</h1>

<ul>
  <%= @training.name %>
  <%= @training.start_at %>
  <%= @training.duration_in_minutes %>
</ul>


<%= form_tag movies_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="movies">
        <% @exercises.each do |exercise| %>
          <h4><%= exercise.name %></h4>
          <p><%= exercise.category %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
