
<div class ="header-team">
  <div class ="filter-team">
    <div class="team-title">
      <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1581762085/lewagon-logo-square-fe76916e1b923ade71e253ae6dc031d936e5e8eebac4e26b0fbac650ea6ee360_uu73gr.png", alt: "Le Wagon", width:"120px"  %>
      <h2><%= @training.name %></h2>
    </div>
  </div>
</div>

<div class = "training-container">
  <div class = "row row-training">
    <div class ="col col-training">
      <div class="card-training">
        <div class="card-training-infos">
          <h2> Information de l'entrainement</h2>
          <h3><%= @training.name %></h3>
          <h3>Date : <%= @training.start_at %></h3>
          <h3>Durée de la séance : <%= @training.duration_in_minutes %>min</h3>
           <h3>Liste des joueurs à convoquer :</h3>
          <% @players.each do |player| %>
              <p><%= player.first_name %> <%= player.last_name %></p>
              <% end %>
           <%= link_to "Envoyer mail de convocation", edit_training_path(@training.id), class:"btn btn-success rounded btn-lg" %>
        </div>
      </div>
    </div>
  <div class ="col col-training">
    <div class ="training-title">
      <h3> Ma sélection d'exercices</h3>
    </div>
        <% @training_exercises.each do |training_exercise| %>
        <div class="card-exercise-details">
          <div class="h-100 card-exercise-image">
            <img src="<%= training_exercise.exercise.picture %>" />
          </div>
          <div class="card-exercise-infos">
              <h3> <%= training_exercise.exercise.name %></h3>
              <h3 class = "duration"><%= training_exercise.duration_in_minutes %> min</h3>
            <div class="tag d-flex mt-2">
              <% categories = training_exercise.exercise.category.split(',') %>
              <% categories.each do |category| %>
                <% if category.include?" " %>
                  <% cat_name = category.downcase.tr!(" ", "-") %>
                  <% else %>
                  <% cat_name = category.downcase %>
                  <% end %>
                <p class="m-0 mr-2 <%= cat_name %>"> <%= category %> </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
        <div class="button-training-2">
          <%= link_to "Modifier", edit_training_path(@training.id), class:"btn btn-success rounded btn-lg" %>
       </div>
      </div>
    </div>
  </div>
</div>
