<div class ="header-team">
  <div class ="filter-team">
    <div class="team-title">
      <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1581762085/lewagon-logo-square-fe76916e1b923ade71e253ae6dc031d936e5e8eebac4e26b0fbac650ea6ee360_uu73gr.png", alt: "Le Wagon", width:"120px"  %>
      <h1><%= @team.club_name %></h1>
      <h2><%= @team.name %></h2>
    </div>
  </div>
</div>

<div class="grid latest-and-upcoming-fixtures__grid">
    <div class = "row row-team">
    <div class = "col">
    <section class="game-promo
      game-promo--dark
      game-promo--firstTeam">
      <h3 class="game-promo__heading u-text-uppercase"><span>Dernier match</span> — <time class="hide-when-js" data-abbr="true" datetime="2020-02-12 18:30" data-js-utc-time-adjust="" style="display: inline;">12 févr 2020, 19:30</time></h3>
      <div class="game-promo__body">
        <div class="game-promo__competition">
          Coupe du Monde
        </div>

        <div class="game-promo__main">
          <p class="game-promo__location">
            Stade Villa Gaudelet
          </p>
          <div class="game-promo__team">
            <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1581762085/lewagon-logo-square-fe76916e1b923ade71e253ae6dc031d936e5e8eebac4e26b0fbac650ea6ee360_uu73gr.png", alt: "Le Wagon", width:"120px"  %>
            <p class="game-promo__team-name">
            FC Wagon
            </p>
          </div>

          <div class="game-promo__middle-section game-promo__middle-section--has-score">
              <div class="game-promo__score">
                2
                -
                3
              </div>
              <p class="game-promo__middle-section-description">
                FT
              </p>
          </div>

          <div class="game-promo__team">
            <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1581772985/harvard_m4nrmt.png", alt: "Harvard", width:"120px"  %>
            <p class="game-promo__team-name">
            Harvard
            </p>
          </div>

        </div>
      </div>
    </section>
    </div>
    <div class = "col">
    <section class="game-promo

      game-promo--firstTeam">
      <h3 class="game-promo__heading u-text-uppercase"><span>Prochain match</span> — <time class="hide-when-js" data-abbr="true" datetime="2020-02-15 16:30" data-js-utc-time-adjust="" style="display: inline;">15 févr 2020, 17:30</time></h3>
      <div class="game-promo__body">
        <div class="game-promo__competition">
          Coupe du monde
        </div>

        <div class="game-promo__main-next">
          <p class="game-promo__location">
          Stade Jacques Couvret
          </p>
          <div class="game-promo__team">
            <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1581773119/MIT_m6tvsm.png", alt: "MIT", width:"120px"  %>
            <p class="game-promo__team-name">
             MIT
            </p>
          </div>

          <div class="game-promo__middle-section ">
              <p class="game-promo__vs">
                VS
              </p>
              <p class="game-promo__middle-section-description">
                <time class="hide-when-js" data-js-utc-time-adjust="" data-date-abbr-only="true" datetime="2020-02-15 16:30" style="display: inline;">15 févr 2020</time>
              </p>
          </div>

          <div class="game-promo__team">
            <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1581762085/lewagon-logo-square-fe76916e1b923ade71e253ae6dc031d936e5e8eebac4e26b0fbac650ea6ee360_uu73gr.png", alt: "Le Wagon", width:"120px"  %>
            <p class="game-promo__team-name">
              FC Wagon
            </p>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>
</div>



<div class = "row row-league">
   <div class = "col col-league">
    <div class ="container-league">
  <div class="team-hub__header">
      <h2>Classement</h2>
    </div>
  <div class ="league-table">
    <table data-js-sortable-table>
      <thead>
          <tr>
            <th class="is-active sortable-table__sortable-header" scope="col" data-sortable-header-trigger="" data-inverted="">
            <span>
              <abbr title="Position">POS</abbr>
            </span>
            </th>
            <th scope="col" class="league-table__team">
              Équipe
            </th>
            <th scope="col" data-sortable-header-trigger="" class="sortable-table__sortable-header">
              <span><abbr title="Points">Pts</abbr></span>
            </th>
            <th scope="col" data-sortable-header-trigger="" class="sortable-table__sortable-header">
              <span><abbr title="Joués">J</abbr></span>
            </th>
            <th scope="col" data-sortable-header-trigger="" class="sortable-table__sortable-header">
              <span><abbr title="Gagnés">G</abbr></span>
            </th>
            <th scope="col" data-sortable-header-trigger="" class="sortable-table__sortable-header">
              <span><abbr title="Nuls">N</abbr></span>
            </th>
            <th scope="col" class="league-table__last-mobile-col sortable-table__sortable-header" data-sortable-header-trigger="">
              <span><abbr title="Perdus">P</abbr></span>
            </th>
            <th scope="col" class="u-hidden-mobile sortable-table__sortable-header" data-sortable-header-trigger="">
              <span><abbr title="Buts Pours">BP</abbr></span>
            </th>
            <th scope="col" class="u-hidden-mobile sortable-table__sortable-header" data-sortable-header-trigger="">
              <span><abbr title="Buts Contre">BC</abbr></span>
            </th>
            <th scope="col" class="u-hidden-mobile sortable-table__sortable-header" data-sortable-header-trigger="">
              <span><abbr title="Différence de buts">Diff.</abbr></span>
            </th>
          </tr>
          </thead>
        <tbody>
          <tr class="league-table__row--featured league-table__row--1">
              <td class="league-table__position is-active">
                1
              </td>
              <td class="league-table__team">
                <div class="league-table__team-inner">
                  <div class="league-table__team-crest">
                      <figure class="figure">
                          <img class="image u-blur-up lazyloaded" src="https://res.cloudinary.com/dv7b712cp/image/upload/v1581762085/lewagon-logo-square-fe76916e1b923ade71e253ae6dc031d936e5e8eebac4e26b0fbac650ea6ee360_uu73gr.png" alt="Le Wagon">
                      </figure>
                  </div>
                  <p class="league-table__team-name">
                    FC Wagon
                  </p>
                </div>
              </td>
              <td>
                61
              </td>
              <td>
                24
              </td>
              <td>
                20
              </td>
              <td>
                1
              </td>
              <td class="league-table__last-mobile-col">
                3
              </td>
              <td class="u-hidden-mobile">
                63
              </td>
              <td class="u-hidden-mobile">
                17
              </td>
              <td class="u-hidden-mobile">
                +46
              </td>
            </tr>
                <tr class="league-table__row--featured league-table__row">
              <td class="league-table__position is-active">
                2
              </td>
              <td class="league-table__team">
                <div class="league-table__team-inner">
                  <div class="league-table__team-crest">
                      <figure class="figure">
                          <img class="image u-blur-up lazyloaded" src="https://res.cloudinary.com/dv7b712cp/image/upload/v1581772985/harvard_m4nrmt.png" alt="Harvard">
                      </figure>
                  </div>
                  <p class="league-table__team-name-other">
                    Harvard
                  </p>
                </div>
              </td>
              <td>
                49
              </td>
              <td>
                24
              </td>
              <td>
                7
              </td>
              <td>
                3
              </td>
              <td class="league-table__last-mobile-col">
                3
              </td>
              <td class="u-hidden-mobile">
                33
              </td>
              <td class="u-hidden-mobile">
                21
              </td>
              <td class="u-hidden-mobile">
                +12
              </td>
            </tr>
             <tr class="league-table__row--featured league-table__row">
              <td class="league-table__position is-active">
                3
              </td>
              <td class="league-table__team">
                <div class="league-table__team-inner">
                  <div class="league-table__team-crest">
                      <figure class="figure">
                          <img class="image u-blur-up lazyloaded" src="https://res.cloudinary.com/dv7b712cp/image/upload/v1581773297/oxford_e2cw67.png" alt="Oxford">
                      </figure>
                  </div>
                  <p class="league-table__team-name-other">
                    Oxford
                  </p>
                </div>
              </td>
              <td>
                41
              </td>
              <td>
                24
              </td>
              <td>
                12
              </td>
              <td>
                5
              </td>
              <td class="league-table__last-mobile-col">
                7
              </td>
              <td class="u-hidden-mobile">
                29
              </td>
              <td class="u-hidden-mobile">
                22
              </td>
              <td class="u-hidden-mobile">
                +7
              </td>
            </tr>
            </tr>
             <tr class="league-table__row--featured league-table__row">
              <td class="league-table__position is-active">
                4
              </td>
              <td class="league-table__team">
                <div class="league-table__team-inner">
                  <div class="league-table__team-crest">
                      <figure class="figure">
                          <img class="image u-blur-up lazyloaded" src="https://res.cloudinary.com/dv7b712cp/image/upload/v1581773119/MIT_m6tvsm.png" alt="MIT">
                      </figure>
                  </div>
                  <p class="league-table__team-name-other">
                    MIT
                  </p>
                </div>
              </td>
              <td>
                41
              </td>
              <td>
                24
              </td>
              <td>
                12
              </td>
              <td>
                5
              </td>
              <td class="league-table__last-mobile-col">
                7
              </td>
              <td class="u-hidden-mobile">
                29
              </td>
              <td class="u-hidden-mobile">
                22
              </td>
              <td class="u-hidden-mobile">
                +7
              </td>
            </tr>
            </tr>
             <tr class="league-table__row--featured league-table__row">
              <td class="league-table__position is-active">
                5
              </td>
              <td class="league-table__team">
                <div class="league-table__team-inner">
                  <div class="league-table__team-crest">
                      <figure class="figure">
                          <img class="image u-blur-up lazyloaded" src="https://res.cloudinary.com/dv7b712cp/image/upload/v1581773463/HEC_Paris_dqrvf1.png" alt="HEC Paris">
                      </figure>
                  </div>
                  <p class="league-table__team-name-other">
                    HEC Paris
                  </p>
                </div>
              </td>
              <td>
                41
              </td>
              <td>
                24
              </td>
              <td>
                12
              </td>
              <td>
                5
              </td>
              <td class="league-table__last-mobile-col">
                7
              </td>
              <td class="u-hidden-mobile">
                29
              </td>
              <td class="u-hidden-mobile">
                22
              </td>
              <td class="u-hidden-mobile">
                +7
              </td>
            </tr>
            <tr class="league-table__row--featured league-table__row">
              <td class="league-table__position is-active">
                6
              </td>
              <td class="league-table__team">
                <div class="league-table__team-inner">
                  <div class="league-table__team-crest">
                      <figure class="figure">
                          <img class="image u-blur-up lazyloaded" src="https://res.cloudinary.com/dv7b712cp/image/upload/v1581773648/tsinghua_lep1xu.png" alt="Tsinghua">
                      </figure>
                  </div>
                  <p class="league-table__team-name-other">
                    Tsinghua
                  </p>
                </div>
              </td>
              <td>
                41
              </td>
              <td>
                24
              </td>
              <td>
                12
              </td>
              <td>
                5
              </td>
              <td class="league-table__last-mobile-col">
                7
              </td>
              <td class="u-hidden-mobile">
                29
              </td>
              <td class="u-hidden-mobile">
                22
              </td>
              <td class="u-hidden-mobile">
                +7
              </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
  </div>
  <div class = "col col-trainings">
    <%= render "trainings/last_five" %>
        <div class ="button-trainings">
          <button type="button" class="btn btn-success rounded btn-lg button-trainings" data-toggle="modal" data-target="#exampleModalCenter">
                Créer une séance
          </button>
      </div>
  </div>
</div>

<div class="container mb-5 pb-5">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class ="team-players">
          <% @players.each do |player| %>
          <div class="col-3 py-3">
              <div class="h-100 d-flex flex-column justify-content-between">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"> <%= player.first_name %> </h5>
                    <h3 class="card-title"> <%= player.last_name %></h3>
                    <p class="card-text"> <%= player.post %></p>
                  </div>
                </div>
              </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>coucou</h1>
        <%= simple_form_for [@team, @training] do |f| %>
          <%= f.input :name %>
          <%= f.input :start_at, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :duration_in_minutes %>
          <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
<!--         <button type="button" class="btn btn-primary">Save changes</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
