<div class="home">
    <div class="filter">
      <div class="home-container">
        <div class="row justify-content-center row-homepage">
          <h1 class="home-title text-center">HELLO ARSENE</h1>
        </div>
        <div class="row justify-content-center row-homepage">
          <h2 class="home-subtitle text-center ">Planifiez vos entraînements comme un pro !</h1>
        </div>
         <div class="row justify-content-center row-homepage">
          <%= link_to "Créer un entrainement", @path, class:"btn btn-success rounded btn-lg"%>
        </div>
        <div class="row justify-content-center row-homepage">
          <a href="joke">
            <%= image_tag "https://cldup.com/FmWbqHZpRN-3000x3000.png", alt: "alttext", width:"120px" %>
            <%= image_tag "https://cldup.com/AVUSUqIcI2-3000x3000.png", alt: "alttext", width:"120px"  %>
          </a>
        </div>
    </div>
    <div class ="main-section2">
      <div class="row justify-content-center row-homepage">
            <div class = "big-paragraph">
              <h2>Un logiciel complet pour préparer vos séances d'entrainements</h2>
            </div>
            <div class="row row-paragraph">
              <div class="paragraph-img">
              <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/c_scale,h_464/v1582658920/notebook_spgdya.jpg", alt: "alttext", width:"500px"  %>
              </div>
              <div class="paragraph-description">
                <h3> Gérez votre équipe en ligne </h3>
                <p> Oubliez vos carnets de notes illisibles et les paperboards mal dessinés, accrochés au scotch sur la porte des vestiaires</p>
              </div>
            </div>
            <div class="row row-paragraph">
              <div class="paragraph-description-left">
                <h3> Managez comme un pro</h3>
                <p>Assurez un suivi professionnel : données de match, préparation physique, assiduité, organisation générale, même dans les clubs amateurs !</p>
              </div>
             <div class="paragraph-img">
                <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1582391102/kakudmi-JO19K0HDDXI-unsplash-compressor_kor56k.jpg", alt: "alttext", width:"500px"  %>
            </div>
          </div>
            <div class="row row-paragraph">
              <div class="paragraph-img">
              <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1582660601/matthew-fournier-GIudaMzhA94-unsplash_fp02aw.jpg", alt: "alttext", width:"500px"  %>
              </div>
              <div class="paragraph-description">
                <h3> Convoquez vos joueurs facilement </h3>
                <p> Ne perdez plus de temps à remplir convoquer vos joueurs un par un. Sélectionnez les joueurs et envoyez-leur un mail instantanée.</p>
              </div>
      </div>
    </div>
  </div>
