<div class="homepage">
  <div class="home">
      <div class="filter">
        <div class="home-container">
          <div class="row justify-content-center row-homepage">
            <h1 class="home-title text-center">HELLO ARSENE</h1>
          </div>
          <div class="row justify-content-center row-homepage">
            <h2 class="home-subtitle text-center ">Planifiez vos entraînements comme un pro !</h1>
          </div>
           <div class="row justify-content-center row-homepage">
            <%= link_to "Créer un entrainement", @path, class:"btn btn-success rounded btn-lg"%>
          </div>
          <div class="row justify-content-center row-homepage">
            <a href="joke">
              <%= image_tag "https://cldup.com/FmWbqHZpRN-3000x3000.png", alt: "alttext", width:"120px" %>
              <%= image_tag "https://cldup.com/AVUSUqIcI2-3000x3000.png", alt: "alttext", width:"120px"  %>
            </a>
          </div>
      </div>
      <div class ="main-section2">
          <div class="row justify-content-center row-homepage">
              <div class = "big-paragraph">
                <h2>Un logiciel complet pour préparer vos séances d'entrainements</h2>
              </div>
              <div class="row row-paragraph">
                <div class="paragraph-img">
                <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/c_scale,h_464/v1582658920/notebook_spgdya.jpg", alt: "alttext", width:"500px"  %>
                </div>
                <div class="paragraph-description">
                  <h3> Gérez votre équipe en ligne </h3>
                  <p> Oubliez vos carnets de notes illisibles et les paperboards mal dessinés, accrochés au scotch sur la porte des vestiaires</p>
                </div>
              </div>
              <div class="row row-paragraph">
                <div class="paragraph-description-left">
                  <h3> Managez comme un pro</h3>
                  <p>Assurez un suivi professionnel : données de match, préparation physique, assiduité, organisation générale, même dans les clubs amateurs !</p>
                </div>
                <div class="paragraph-img">
                  <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1582391102/kakudmi-JO19K0HDDXI-unsplash-compressor_kor56k.jpg", alt: "alttext", width:"500px"  %>
                </div>
              </div>
              <div class="row row-paragraph">
                <div class="paragraph-img">
                <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1582660601/matthew-fournier-GIudaMzhA94-unsplash_fp02aw.jpg", alt: "alttext", width:"500px"  %>
                </div>
                <div class="paragraph-description">
                  <h3> Convoquez vos joueurs facilement </h3>
                  <p> Ne perdez plus de temps à remplir convoquer vos joueurs un par un. Sélectionnez les joueurs et envoyez-leur un mail instantanée.</p>
                </div>
              </div>
          </div>
  <div class ="testimonials">
      <h2> Ils gagnent grâce à Hello Arsène </h2>
    <div class="testimonies-wrapper">
                <div class="media media--testimony">
                    <div class="media__figure">
                        <div class="avatar--medium" title="Témoignage de Thomas Tuchel, entraineur du PSG">
                           <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1582804129/fbl-fra-ligue1-psg-bordeaux-5e5392ef164c413fac000001_thb3s4.webp", alt: "alttext", width: "150px" %>
                        </div>
                    </div>
                    <div class="media__body">
                          <p class="user__name">Thomas Tuchel</p>
                          <p class="user__team">Entraineur du PSG</p>
                          <blockquote class="user__testimony">Oui, c'est sûr que cette élimination en 1/8ème de finale de coupe de France par le petit poucet de la compétition, L'AS Mirepoix, pensionnaire de 2ème division de district, fait un peu tâche, mais avec Hello Arsène, ils ont les mêmes outils que nous... L'état d'esprit en plus</blockquote>
                    </div>
                </div>

                <div class="media media--testimony">
                    <div class="media__figure">
                        <div class="avatar--medium" title="Témoignage de Zinedine Zidane, coach du Real Madrid">
                          <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1582805447/zizou_ahpvnh.jpg", alt: "alttext", width: "150px" %>
                        </div>
                    </div>
                    <div class="media__body">
                          <p class="user__name">Zinedine Zidane</p>
                          <p class="user__team">Entraineur du Real Madrid</p>
                          <blockquote class="user__testimony">C'est bieng.</blockquote>
                    </div>
                </div>

                <div class="media media--testimony">
                    <div class="media__figure">
                        <div class="avatar--medium" title="Témoignage de Pascal Dupraz, ancien entraineur de Toulouse">
                             <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1582805758/pascal_dupraz_xucbh1.jpg", alt: "alttext", width: "150px"%>
                        </div>
                    </div>
                    <div class="media__body">
                          <p class="user__name">Pascal Dupraz</p>
                          <p class="user__team">Ex-entraineur de Toulouse FC</p>
                          <blockquote class="user__testimony">C'est maintenant qu'il faut le faire, pas demain, ni hier. C'est maintenant. Il n'y a plus qu'à manger : le couvert est dressé. C'est magnifique, juste avant de partir en vacances. Au dernier moment, on passe la tête. Ca c'est grâce à Hello Arsène</blockquote>
                    </div>
                </div>
            </div>
    <div class ="main-section">
      <div class="references">
          <h3>Nos références</h3>
      </div>
      <div class="logo-container">
        <a href="#" class="logo">
          <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1580409650/Hello%20Arsene/Logo%20FC%20Bayern%20Munchen.png", alt: "alttext", width:"120px" %>
        <a href="#" class="logo">
          <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1580409525/Hello%20Arsene/Logo%20Barca.png", alt: "alttext", width:"120px" %>
        <a href="#" class="logo">
          <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1580407276/Hello%20Arsene/Logo%20PSG.png", alt: "alttext", width:"120px" %>
        <a href="#" class="logo">
          <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1580409930/Hello%20Arsene/Logo%20real.png", alt: "alttext", width:"120px" %>
         <a href="#" class="logo">
          <%= image_tag "https://res.cloudinary.com/dv7b712cp/image/upload/v1580410376/Hello%20Arsene/Logo%20juventus.png", alt: "alttext", width:"120px" %>
      </div>
          <div class="row justify-content-center row-homepage-bottom">
            <%= link_to "Créer un entrainement", @path, class:"btn btn-success rounded btn-lg"%>
        </div>
  </div>
</div>

