<nav class="search-bar navbar navbar-light align-center">
  <form class="form-inline" action="/trainings/<%= @training.id %>/edit" method="get" >
    <input class="input form-control mr-sm-2" name="search" type="search" placeholder="Search for exercise or category" aria-label="Search" id="exercises_list">
    <button class="search btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <form class="form-inline" action="/trainings/<%= @training.id %>/edit" method="get" >
    </form>
  </form>
</nav>
<div class="container mb-5 pb-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-wrap">
        <% @exercises.each do |exercise| %>
        <div class="card-exercise-details" data-toggle="modal" data-target="#exampleModalCenter-<%= exercise.id %>">
          <div class="h-100 card-exercise-image">
            <img src="<%= exercise.picture %>" />
          </div>
          <div class="card-exercise-infos">
            <h2><%= exercise.name %></h2>
            <div class="tag d-flex mt-2">
              <% categories = exercise.category.split(',') %>
              <% categories.each do |category| %>
                <% if category.include?" " %>
                  <% cat_name = category.downcase.tr!(" ", "-") %>
                  <% else %>
                  <% cat_name = category.downcase %>
                  <% end %>
                <p class="m-0 mr-2 <%= cat_name %>"> <%= category %> </p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="modal fade modal_training_exercise" id="exampleModalCenter-<%= exercise.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header bg-darkgray">
                <h5 class="modal-title" id="exampleModalLongTitle">Add exercise</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body bg-darkgray">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <iframe width="560" height="315" src="<%= exercise.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h5><%= exercise.name %></h5>
                <h6>  <%= exercise.category %> </h6>
                <h6> <%= exercise.id %> </h6>
                <h6> <%= exercise.description %> </h6>
                <%= simple_form_for [ @training, @training_exercise ] do |f| %>
                  <%= f.hidden_field :exercise, as: :hidden, :value => exercise.id %>
                  <%#= f.input :exercise, selected: f.exercise.category %>
                  <%= f.input :duration_in_minutes, as: "range", label: "Durée en minutes: 60", required: false, input_html: { min: '0', step: '5', max: '240', id: "input_create_training_exercise_duration_in_minutes-#{exercise.id}"}, label_html: {id: "label_create_training_exercise_duration_in_minutes-#{exercise.id}"} %>
                  <%= f.submit "save", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<script>

  if((document.querySelectorAll(".modal_training_exercise").length > 0)) {
    var exModals = document.querySelectorAll(".modal_training_exercise");

    exModals.forEach((exmodal) => {
      var exModalId = exmodal.id.split("-")[1];
      console.log(exModalId);
      var exModalSlider = document.querySelector(`#input_create_training_exercise_duration_in_minutes-${exModalId}`);
      var exModalTime = document.querySelector(`#input_create_training_exercise_duration_in_minutes-${exModalId}`).value;
      console.log(exModalTime);
      var exModalLabel = document.querySelector(`#label_create_training_exercise_duration_in_minutes-${exModalId}`);
      console.log(exModalLabel);
      exModalLabel.innerHTML = `Durée en minutes : ${exModalTime}`; // Display the default slider value

      // Update the current slider value (each time you drag the slider handle)
      exModalSlider.oninput = function() {
        exModalLabel.innerHTML = `Durée en minutes : ${this.value}`;
        console.log(this.value)
      }
    })
  }


  // var slider2 = document.getElementById("input_create_training_exercise_duration_in_minutes");
  // var output2 = document.getElementById("label_create_training_exercise_duration_in_minutes");
  // output2.innerHTML = `Durée en minutes : ${slider2.value}`; // Display the default slider2 value

  // // Update the current slider2 value (each time you drag the slider2 handle)
  // slider2.oninput = function() {
  //   output2.innerHTML = `Durée en minutes : ${this.value}`;
  //   console.log(this.value)
  //   // console.log(output)
  // }
</script>
